<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:upa="http://sisupas.portovelho.org.com.br"
	layout:decorator="~{layout/LayoutPadrao}">

<head>
<title>UPA-24h</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/bootstrap-datepicker.standalone.min.css}" />
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de CBO</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="post" class="form-vertical  js-form-loading"
				th:action="@{/administracao/cbos/novo}" th:object="${CBO}">

				<upa:message/>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group upa-required" upa:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label> 
					<input id="descricao" type="text" class="form-control" th:field="*{descricao}"/>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group upa-required" upa:classforerror="codigo">
							<label for="codigo" class="control-label">Código</label> 
							<input id="codigo" type="text" class="form-control" th:field="*{codigo}"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-success" type="submit">Salvar</button>
					<a th:href="@{/administracao/cbos/}" class="btn  btn-danger">Cancelar</a>
				</div>
			</form>
		</div>

	</section>

</body>
</html>