<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>UPA-24h</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de sala de atendimento</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="post" class="form-vertical  js-form-loading"
				th:action="@{/administracao/salaAtendimento/novo}"
				th:object="${salaAtendimento}">

				<div layout:include="mensagens/MensagemGeral"></div>
				<div layout:include="mensagens/MensagemErroValidacao"></div>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group"
					th:classappend="${#fields.hasErrors('descricao')} ? 'has-error'">
					<label for="descricao">Descrição*</label> <input id="descricao"
						type="text" class="form-control" th:field="*{descricao}" />
				</div>

				<div class="row">
					<div class="col-sm-2">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('numero')} ? 'has-error'">
							<label for="numero">Número*</label> 
							<input id="numero" type="text" class="form-control" th:field="*{numero}" />
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('tipoSalaAtendimento')} ? 'has-error'">
							<label for="tipoSalaAtendimento">Tipo de sala de
								atendimento</label> 
								<select class="form-control" name="tipoSalaAtendimento" th:field="*{tipoSalaAtendimento}">
									<option value="">Selecione a sala de atendimento</option>
									<option th:each="tipoSala : ${todosTiposSalas}" th:value="${tipoSala}" th:text="${tipoSala.descricao}"></option>
							</select>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('statusSalaAtendimento')} ? 'has-error'">
							<label for="statusSalaAtendimento">Status da Sala</label> 
							<select class="form-control" name="statusSalaAtendimento" th:field="*{statusSalaAtendimento}">
								
								<option th:each="statusSalaAtendimento : ${todosStatusSalaAtendimento}"
									th:value="${statusSalaAtendimento}"
									th:text="${statusSalaAtendimento.descricao}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a th:href="@{/administracao/salaAtendimento/}"
						class="btn  btn-default">Cancelar</a>
				</div>
			</form>
		</div>

	</section>

</body>
</html>