<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title>UPA-24h</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/bootstrap-datepicker.standalone.min.css}" />
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de atendimento não identificado</h1>
			</div>
		</div>

		<div class="container-fluid">
			<div class="panel panel-primary">
  				<div class="panel-heading"><span class="titulo_panel">Identificação</span></div>
  				<div class="panel-body">
 					<form method="post" class="form-vertical  js-form-loading"
						th:action="@{/same/atendimentoNaoIdentificado/novo}"
						th:object="${atendimentoNaoIdentificado}">
		
						<div layout:include="mensagens/MensagemGeralComVariavel"></div>
						<div layout:include="mensagens/MensagemErroValidacao"></div>
		
						<input type="hidden" th:field="*{id}" />
		
						<div class="row">
							<div class="col-sm-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('estrutura')} ? 'has-error'">
									<label for="estrutura">Estrutura corporal</label> <select
										class="form-control" name="estrutura" th:field="*{estrutura}">
										<option th:each="estrutura : ${todasEstruturas}"
											th:value="${estrutura}" th:text="${estrutura.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('porteFisico')} ? 'has-error'">
									<label for="porteFisico">Porte físico</label> <select
										class="form-control" name="porteFisico"
										th:field="*{porteFisico}">
										<option th:each="porteFisico : ${todosPorteFisicos}"
											th:value="${porteFisico}" th:text="${porteFisico.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('raca')} ? 'has-error'">
									<label for="raca">Cor ou Raça</label> <select
										class="form-control" name="raca" th:field="*{raca}">
										<option th:each="raca : ${todasRacas}" th:value="${raca}"
											th:text="${raca.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('sexo')} ? 'has-error'">
									<label for="sexo">Sexo</label> <select class="form-control"
										name="sexo" th:field="*{sexo}">
										<option th:each="sexo : ${todosSexos}" th:value="${sexo}"
											th:text="${sexo.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('faixaEtariaInicial')} ? 'has-error'">
									<label for="faixaEtaria">Faixa etária*</label>
									<div class="form-inline">
										<input id="faixaEtaria" type="number" class="inputFaixaEtaria form-control" th:field="*{faixaEtariaInicial}" min="1"/> 
											a 
										<input id="faixaEtaria"	type="number" class="form-control inputFaixaEtaria2" th:field="*{faixaEtariaFinal}" min="1"/> 
										<select class="form-control" name="tipoIdade" th:field="*{tipoIdade}">
											<option th:each="tipoIdades : ${todosTipoIdades}" 
													th:value="${tipoIdades}" 
													th:text="${tipoIdades.descricao}">
											</option>
										</select>
									</div>
								</div>
							</div>
						</div>
		
						<div class="row">
							<!-- <div class="col-sm-4">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('FaixaEtariaInicial')} ? 'has-error'">
									<label for="faixaEtaria">Faixa etária*</label>
									<div class="form-inline">
										<input id="faixaEtaria" type="number" class="inputFaixaEtaria form-control" th:field="*{faixaEtariaInicial}" min="1"/> 
											a 
										<input id="faixaEtaria"	type="number" class="form-control inputFaixaEtaria2" th:field="*{faixaEtariaFinal}" min="1"/> 
										<select class="form-control" name="anosMesesDias" th:field="*{anosMesesDias}">
											<option th:each="anosMesesDias : ${todosAnosMesesDias}" 
													th:value="${anosMesesDias}" 
													th:text="${anosMesesDias.descricao}">
											</option>
										</select>
									</div>
								</div>
							</div> -->
							<div class="col-sm-2">
								<div class="form-group">
									<label for="estado">Estado</label> <select class="form-control"
										name="estado">
										<option th:each="uf : ${todasUfs}" th:value="${uf}"
											th:text="${uf.nome}"></option>
									</select>
								</div>
							</div>
		
							<div class="col-sm-2">
								<div class="form-group">
									<label for="municipio">Município</label> <select
										class="form-control" name="municipio" th:field="*{municipio}">
										<option th:each="municipio : ${todosMunicipios}"
											th:value="${municipio.id}" th:text="${municipio.nome}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<div class="form-group" th:classappend="${#fields.hasErrors('senha')} ? 'has-error'">
									<label for="senha">Senha*</label> 
									<input id="senha" type="text" class="form-control" th:field="*{senha}" />
								</div>
							</div>
							
							<div class="col-sm-4">
								<div class="form-group" th:classappend="${#fields.hasErrors('motivoAtendimento')} ? 'has-error'">
									<label for="motivoAtendimento">Motivo do atendimento*</label> 
									<select class="form-control" name="motivoAtendimento" th:field="*{motivoAtendimento}">
										<option th:each="motivoAtendimento : ${todosMotivosAtendimento}"
											th:value="${motivoAtendimento.id}" th:text="${motivoAtendimento.descricao}"></option>
									</select>
								</div>
							</div>
							
							<div class="col-sm-5">
								<div class="form-group">
									<label for="procedenciaDoFato">Procedência do fato</label> 
									<textarea class="form-control" rows="2" id="procedenciaDoFato" th:field="*{procedenciaDoFato}" ></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group" th:classappend="${#fields.hasErrors('responsavelPaciente')} ? 'has-error'">
									<label for="responsavelPaciente">Responsável pelo paciente</label> 
									<input id="responsavelPaciente" type="text" class="form-control" th:field="*{responsavelPaciente}" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group" th:classappend="${#fields.hasErrors('telefoneResponsavelPaciente')} ? 'has-error'">
									<label for="telefoneResponsavelPaciente">Telefone do responsável</label> 
									<input id="telefoneResponsavelPaciente" type="text" class="form-control" th:field="*{telefoneResponsavelPaciente}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<div class="form-group" th:classappend="${#fields.hasErrors('tipoSalaAtendimento')} ? 'has-error'">
									<label for="tipoSalaAtendimento">Sala*</label> 
									<select class="form-control" name="tipoSalaAtendimento" th:field="*{tipoSalaAtendimento}">
										<option th:each="tipoSalaAtendimento : ${todosTipoSalaAtendimento}" th:if="${tipoSalaAtendimento.descricao} != 'Triagem'"
											th:value="${tipoSalaAtendimento}" th:text="${tipoSalaAtendimento.descricao}"></option>
									</select>
								</div>
							</div>
							<!-- <div class="col-sm-2">
								<div class="form-group" th:classappend="${#fields.hasErrors('tipoEspecialidadeSalaAtendimento')} ? 'has-error'">
									<label for="tipoEspecialidadeSalaAtendimento">Especialidade*</label> 
									<select class="form-control" name="tipoEspecialidadeSalaAtendimento" th:field="*{tipoEspecialidadeSalaAtendimento}">
										<option th:each="tipoEspecialidadeSalaAtendimento : ${todosTipoEspecialidadeSalaAtendimento}"
											th:value="${tipoEspecialidadeSalaAtendimento}" th:text="${tipoEspecialidadeSalaAtendimento.descricao}"></option>
									</select>
								</div>
							</div> -->
								<div class="col-sm-3 form-group">
								<!-- <label class="radio-inline"><input type="radio" name="optradio"/>Option 1</label> -->
								<label for="emergencia"></label> 
									<div class="checkbox checkbox-primary">
										<input id="emergencia" name="emergencia" type="checkbox" value="true"/>
			                        	<label for="emergencia">Não passar pela Triagem</label>
			                        </div>
								</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label for="tipoEspecialidadeSalaAtendimento">Detalhes</label> 
						 		<div class="checkbox checkbox-primary">
						 			<div th:each="detalhesAtendimento : ${todosDetalhesAtendimento}" class="detalhes-atendimento">
                        				<input th:id="${detalhesAtendimento.descricao}" th:name="detalhesDoAtendimento" type="checkbox" 
                        				th:value="${detalhesAtendimento}"/>
		                        		<label th:for="${detalhesAtendimento.descricao}" th:text="${detalhesAtendimento.descricao}"></label>
		                        	</div>
                    			</div>
							</div>
						</div>
						<div class="form-group">
							<button class="btn  btn-primary" type="submit">Salvar</button>
							<a th:href="@{/same/atendimentoNaoIdentificado/}"
								class="btn  btn-default">Cancelar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>