<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="~{layout/LayoutPadrao}"
	xmlns:upa="http://sisupas.portovelho.org.com.br">

<head>
<title>UPA-24h</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/bootstrap-datepicker.standalone.min.css}" />
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de bairro</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="post" class="form-vertical  js-form-loading"
				th:action="@{/administracao/bairros/novo}" th:object="${bairro}">

				<upa:message/>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group upa-required" upa:classforerror="nome">
					<label for="nome" class="control-label">Nome</label> 
					<input id="nome" type="text" class="form-control" th:field="*{nome}" />
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group upa-required">
							<label for="uf" class="control-label">UF</label> 
							<select id="uf" class="form-control" name="uf">
								<option value="">Selecione a UF</option>
								<option th:each="uf : ${todosUfs}" th:value="${uf.id}" th:text="${uf.nome}"></option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group upa-required">
							<label for="municipio" class="control-label">Município</label> 
							<div class="upa-field-action">
								<select id="municipio" class="form-control" name="municipio" th:field="*{municipio}" data:url="@{/administracao/municipios}">
								</select>
								
								<div class="upa-field-action__icon js-img-loading" style="display: none">
									<img th:src="@{/layout/images/mini-loading.gif}"/>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-success" type="submit">Salvar</button>
					<a th:href="@{/administracao/bairros/}" class="btn  btn-danger">Cancelar</a>
				</div>
			</form>
		</div>

	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/layout/javascripts/combo-estado-cidade.js}"></script>
	</th:block>
</body>
</html>